<!DOCTYPE html>
<html lang="en">
<head>
    <title>My College</title>
</head>
<body>

    <div class="container" style="border: 1px solid gray; padding:0px;">
        <div class="header">
            <p>
                <a href="#" class="img-responsive"><img src="~/assets/img/header.jpg" class="img-responsive" style="width:100%; height:100px;" /></a>
                <span class="text-capitalize">
                    <h2>R G P G College</h2>
                </span>
            </p>
        </div>
        <div class="navbar" style="margin-bottom:0px;">
            <ul>
                <li>@Html.ActionLink("Home", "index", new { controller = "home" }, new { @class = "nav-link scrollto active" })</li>
                <li><a class="nav-link scrollto" href="#services">Courses</a></li>
                <li>@Html.ActionLink("Faculty", "faculty", new { controller = "home" }, new { @class = "nav-link scrollto" })</li>
                <li><a class="nav-link scrollto" href="#team">Documments</a></li>
                <li>@Html.ActionLink("Gallery", "gallery", new { controller = "home" }, new { @class = "nav-link scrollto" })</li>
                <li><a class="getstarted scrollto" href="#about">Activities</a></li>
                <li>@Html.ActionLink("Contact", "contact", new { controller = "home" }, new { @class = "nav-link scrollto" })</li>
                <li>@Html.ActionLink("About Us", "about", new { controller = "home" }, new { @class = "nav-link scrollto" })</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#"><span>Content Managment</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li>@Html.ActionLink("Manage Faculty", "index", new { controller = "Faculty" }, new { @class = "nav-link scrollto" }) </li>
                            <li>@Html.ActionLink("Manage Notification", "ManageNotification", new { controller = "Faculty", type = "NOTIFICATION" }, new { @class = "nav-link scrollto" })</li>
                            <li>@Html.ActionLink("Manage Downloads", "ManageNotification", new { controller = "Faculty", type = "DOWNLOADS" }, new { @class = "nav-link scrollto" })</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Logout", "logout", new { controller = "Login" }, new { @class = "nav-link scrollto" }) </li>
                }
                else
                {
                    <li class="dropdown">
                        <a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li>@Html.ActionLink("Admin Login", "login", new { controller = "Login" }, new { @class = "nav-link scrollto" }) </li>
                            <li><a href="#">Student Login</a></li>
                            <li><a href="#">Teacher Login</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <div class="body-content">

            @RenderBody()

        </div>
        <div class="panel-footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - My College</p>
            </footer>
        </div>
    </div>


    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>